* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0b0916;
  overflow-x: hidden;
  overflow-y: hidden;
}

.marker-wrapper {
  width: 35vw;
  height: 35vh;
  margin-left: -17.5vw;
  margin-top: -17.5vh;
  z-index: 99999;
}
.marker-wrapper_hover {
  pointer-events: none;
}
.marker-wrapper_big-one {
  z-index: 999999;
  width: 26vw;
  height: 60vh;
  margin-left: -22vw;
  margin-top: -50vh;
}
.marker-wrapper_big-two {
  z-index: 999999;
  width: 26vw;
  height: 85vh;
  margin-left: -10vw;
  margin-top: -50vh;
}
.marker-wrapper_big-three {
  z-index: 999999;
  width: 42vw;
  height: 85vh;
  margin-left: -8vw;
  margin-top: -42vh;
}
.marker-wrapper_big-four {
  z-index: 999999;
  width: 38vw;
  height: 65vh;
  margin-left: -26vw;
  margin-top: -12vh;
}
.marker-wrapper_big-five {
  z-index: 999999;
  width: 38vw;
  height: 65vh;
  margin-left: -26vw;
  margin-top: -12vh;
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes spinning {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@-webkit-keyframes appearing {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
}
@keyframes appearing {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  100% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
}
.marker-lines {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
}

@-webkit-keyframes marker-lines {
  0% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}

@keyframes marker-lines {
  0% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
}
.marker-point {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@-webkit-keyframes marker-point {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}

@keyframes marker-point {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}
.marker-circle-1 {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@-webkit-keyframes marker-circle-1 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}

@keyframes marker-circle-1 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}
.marker-circle-2 {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@-webkit-keyframes marker-circle-2 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}

@keyframes marker-circle-2 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}
.marker-goal {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@-webkit-keyframes marker-goal {
  0% {
    opacity: 0;
    width: 233.3px;
    height: 233.3px;
    margin-top: -116.64px;
    margin-left: -116.64px;
  }
  3.33% {
    opacity: 1;
    width: 233.3px;
    height: 233.3px;
    margin-top: -116.64px;
    margin-left: -116.64px;
  }
  20% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}

@keyframes marker-goal {
  0% {
    opacity: 0;
    width: 233.3px;
    height: 233.3px;
    margin-top: -116.64px;
    margin-left: -116.64px;
  }
  3.33% {
    opacity: 1;
    width: 233.3px;
    height: 233.3px;
    margin-top: -116.64px;
    margin-left: -116.64px;
  }
  20% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}
.marker-circle-3 {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

@-webkit-keyframes marker-circle-3 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}

@keyframes marker-circle-3 {
  0% {
    opacity: 0;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  3.33% {
    opacity: 1;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  20% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  86% {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    opacity: 1;
  }
  94% {
    opacity: 0;
  }
  100% {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 1;
  }
}
.marker-capture_hidden {
  display: none !important;
}

.marker-video_hidden {
  display: none !important;
}

#map {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #0b0916;
  -webkit-animation: 5s linear mapAppearing;
          animation: 5s linear mapAppearing;
  z-index: 999999 !important;
}

.container {
  width: 100vw;
  height: 100vh;
  border-width: 11vh 11vw !important;
}

.leaflet-control {
  margin-top: 5vh !important;
  margin-left: 5vw !important;
}

@-webkit-keyframes mapAppearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mapAppearing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.popup__capture {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 19vw;
  height: 10vh;
  top: 12vh;
  left: 40vw;
  z-index: 9999999 !important;
  background: url("../img/popup/capture-bg.png") center no-repeat;
  background-size: contain;
  pointer-events: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.01) 0px 60px 40px -7px;
          box-shadow: rgba(0, 0, 0, 0.01) 0px 60px 40px -7px;
  -webkit-animation: 0.2s linear appearPopup;
          animation: 0.2s linear appearPopup;
}
.popup__text {
  font-size: 22px;
  color: #fff;
  font-family: RobotoCondensed-Light;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}
.popup__video {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 40vh;
  top: 30vh;
  left: 20vw;
  z-index: 100000000000000020000 !important;
  -webkit-animation: 0.2s linear appearPopup;
          animation: 0.2s linear appearPopup;
}
.popup__video iframe {
  z-index: 100000000000000020000 !important;
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 999999999999999 !important;
  display: none;
}

.loading {
  -webkit-animation: loadingAnimation 2s linear infinite;
          animation: loadingAnimation 2s linear infinite;
  z-index: 999999 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.circle-path {
  stroke: #93bfec;
  stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  z-index: 999999 !important;
}

@-webkit-keyframes loadingAnimation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingAnimation {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes appearPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearPopup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.language {
  position: fixed;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10000000000000002000000 !important;
  background-color: rgba(11, 9, 22, 0.3);
  opacity: 1;
  -webkit-animation: 2s linear appearLang;
          animation: 2s linear appearLang;
}
.language__border {
  position: fixed;
  top: 35vh;
  left: 35vw;
  width: 30vw;
  height: 30vh;
  z-index: 10000000000000002000 !important;
  -webkit-animation: 2s linear appearLang;
          animation: 2s linear appearLang;
}
.language__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 1000000000000000100000 !important;
}
.language__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28vw;
  height: 28vh;
  z-index: 10000000000000002000000 !important;
  -webkit-animation: 0.5s linear appearLang;
          animation: 0.5s linear appearLang;
}
.language__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.3vw;
  z-index: 10000000000000002000000 !important;
  cursor: pointer;
}
.language__block:hover {
  background-color: #80A6FF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.language__block:active {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.language__img {
  width: 50px;
  height: 37.5px;
  z-index: 10000000000000002000000 !important;
}
.language__title {
  width: 100%;
  text-align: center;
  font-family: RobotoCondensed-Light;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  z-index: 10000000000000002000000 !important;
  text-transform: uppercase;
  position: relative;
  -webkit-animation: 2s linear appearLang;
          animation: 2s linear appearLang;
}

@-webkit-keyframes appearLang {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appearLang {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hiddering {
  -webkit-animation: 1s linear hiddering;
          animation: 1s linear hiddering;
}

@-webkit-keyframes hiddering {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hiddering {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 991px) {
  .leaflet-top {
    display: none;
  }

  .language {
    left: 12.5vw;
    width: 75vw;
    height: 35vh;
  }
  .language__container {
    width: 73vw;
    height: 33vh;
    margin-top: 1vh;
  }
  .language__block {
    width: 23vw;
    margin: 0 0.6vw;
  }
  .language__border {
    width: 75vw;
    height: 35vh;
    left: 12.5vw;
  }
  .language__title {
    width: 22vw;
  }

  .popup__capture {
    width: 60vw;
    height: 11vh;
    left: 20vw;
  }
  .popup__text {
    font-size: 14px;
  }
  .popup__video iframe {
    width: 270px;
    height: 220px;
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
}